* {
    width: 100%;
    max-width: 100%;
}

body {
    width: 100%;
    max-width: 100%;
}


/* --------------------NAV-------------------- */

#inicio {
    width: 30px;
}

#rarissime {
    margin-left: 12%;
    font-size: 35px;
    font-family: 'Yellowtail', cursive;
}

#quienesomos {
    margin-right: 100px;
}

#prendas {
    padding-left: -10px;
}

.navbar {
    background-color: #FFFFFF;
}

.navbar-nav {
    margin-right: 50px;
}

.contenedor {
    position: fixed;
    z-index: 100;
}

.navbar-toggler {
    width: 50px;
    margin-left: 90%;
    margin-top: -60px;
    padding: 2px 6px;
}


/* --------------------------------------- */


/* -------------------CAROUSEL----------------- */

#carouselExampleInterval {
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
}


/* ----------------------------------------------- */


/* ------------------DEFINICION---------------------- */

.Minita {
    height: 70%;
    width: 78%;
    border-radius: 500px;
    margin-left: 10%;
    margin-top: 8%;
}

#definicionraro {
    margin-top: 35px;
}

#definicionraro h1 {
    font-size: 10vw;
}

#definicionraro p {
    font-size: 2vw;
}


/* ------------------------------------ */